<a href="https://colab.research.google.com/github/akimi-yano/MLE-MiniProjects/blob/main/MLE_MiniProject_Recommendation_Engines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Project: Recommendation Engines

Recommendation engines are algorithms designed to provide personalized suggestions or recommendations to users. These systems analyze user behavior, preferences, and interactions with items (products, movies, music, articles, etc.) to predict and offer items that users are likely to be interested in. Recommendation engines play a crucial role in enhancing user experience, driving engagement, and increasing conversion rates in various applications, including e-commerce, entertainment, content platforms, and more.

There are generally two approaches taken in collaborative filtering and content-based recommendation engines:

**1. Collaborative Filtering:**
Collaborative Filtering is a popular approach to building recommendation systems that leverages the collective behavior of users to make personalized recommendations. It is based on the idea that users who have agreed in the past will likely agree in the future. There are two main types of collaborative filtering:

- **User-based Collaborative Filtering:** This method finds users similar to the target user based on their past interactions (e.g., ratings or purchases). It then recommends items that similar users have liked but the target user has not interacted with yet.

- **Item-based Collaborative Filtering:** In this approach, the system identifies similar items based on user interactions. It recommends items that are similar to the ones the target user has already liked or interacted with.

Collaborative filtering does not require any explicit information about items but relies on the similarity between users or items. It is effective in capturing complex patterns and can provide serendipitous recommendations. However, it suffers from the cold-start problem (i.e., difficulty in recommending to new users or items with no interactions) and scalability challenges in large datasets.

**2. Content-Based Recommendation:**
Content-based recommendation is an alternative approach to building recommendation systems that focuses on the attributes or features of items and users. It leverages the characteristics of items to make recommendations. The key steps involved in content-based recommendation are:

- **Feature Extraction:** For each item, relevant features are extracted. For movies, these features could be genre, director, actors, and plot summary.

- **User Profile:** A user profile is created based on the items they have interacted with in the past. The user profile contains the weighted importance of features based on their interactions.

- **Similarity Calculation:** The similarity between items or between items and the user profile is calculated using similarity metrics like cosine similarity or Euclidean distance.

- **Recommendation:** Items that are most similar to the user profile are recommended to the user.

Content-based recommendation systems are less affected by the cold-start problem as they can still recommend items based on their features. They are also more interpretable as they rely on item attributes. However, they may miss out on providing serendipitous recommendations and can be limited by the quality of feature extraction and user profiles.

**Choosing Between Collaborative Filtering and Content-Based:**
Both collaborative filtering and content-based approaches have their strengths and weaknesses. The choice between them depends on the specific requirements of the recommendation system, the type of data available, and the user base. Hybrid approaches that combine collaborative filtering and content-based techniques are also common, aiming to leverage the strengths of both methods and mitigate their weaknesses.

In this mini-project, you'll be building both content based and collaborative filtering engines for the [MovieLens 25M dataset](https://grouplens.org/datasets/movielens/25m/). The MovieLens 25M dataset is one of the most widely used and popular datasets for building and evaluating recommendation systems. It is provided by the GroupLens Research project, which collects and studies datasets related to movie ratings and recommendations. The MovieLens 25M dataset contains movie ratings and other related information contributed by users of the MovieLens website.

**Dataset Details:**
- **Size:** The dataset contains approximately 25 million movie ratings.
- **Users:** It includes ratings from over 162,000 users.
- **Movies:** The dataset consists of ratings for more than 62,000 movies.
- **Ratings:** The ratings are provided on a scale of 1 to 5, where 1 is the lowest rating and 5 is the highest.
- **Timestamps:** Each rating is associated with a timestamp, indicating when the rating was given.

**Data Files:**
The dataset is usually split into three CSV files:

1. **movies.csv:** Contains information about movies, including the movie ID, title, genres, and release year.
   - Columns: movieId, title, genres

2. **ratings.csv:** Contains movie ratings provided by users, including the user ID, movie ID, rating, and timestamp.
   - Columns: userId, movieId, rating, timestamp

3. **tags.csv:** Contains user-generated tags for movies, including the user ID, movie ID, tag, and timestamp.
   - Columns: userId, movieId, tag, timestamp

First, import all the libraries you'll need.

In [283]:
import zipfile
import numpy as np
import pandas as pd
from urllib.request import urlretrieve
from sklearn.metrics.pairwise import cosine_similarity

Next, download the relevant components of the MoveLens dataset. Note, these instructions are roughly based on the colab [here](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/recommendation-systems/recommendation-systems.ipynb?utm_source=ss-recommendation-systems&utm_campaign=colab-external&utm_medium=referral&utm_content=recommendation-systems#scrollTo=O3bcgduFo4s6).

In [284]:
print("Downloading movielens data...")

urlretrieve('http://files.grouplens.org/datasets/movielens/ml-100k.zip', 'movielens.zip')
zip_ref = zipfile.ZipFile('movielens.zip', 'r')
zip_ref.extractall()
print("Done. Dataset contains:")
print(zip_ref.read('ml-100k/u.info'))

ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'ml-100k/u.data', sep='\t', names=ratings_cols, encoding='latin-1')

# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv(
    'ml-100k/u.item', sep='|', names=movies_cols, encoding='latin-1')

Downloading movielens data...
Done. Dataset contains:
b'943 users\n1682 items\n100000 ratings\n'

Before doing any kind of machine learning, it's always good to familiarize yourself with the datasets you'lll be working with.

Here are your tasks:

1. Spend some time familiarizing yourself with both the `movies` and `ratings` dataframes. How many unique user ids are present? How many unique movies are there?
2. Create a new dataframe that merges the `movies` and `ratings` tables on 'movie_id'. Only keep the 'user_id', 'title', 'rating' fields in this new dataframe.

In [285]:
# Spend some time familiarizing yourself with both the movies and ratings
# dataframes. How many unique user ids are present? How many unique movies
# are there?
print(movies)
print(movies.shape)
print(movies.nunique())

print('*'*100)

print(ratings)
print(ratings.shape)
print(ratings.nunique())

      movie_id                                      title release_date  \
0            1                           Toy Story (1995)  01-Jan-1995
1            2                           GoldenEye (1995)  01-Jan-1995
2            3                          Four Rooms (1995)  01-Jan-1995
3            4                          Get Shorty (1995)  01-Jan-1995
4            5                             Copycat (1995)  01-Jan-1995
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)  06-Feb-1998
1678      1679                           B. Monkey (1998)  06-Feb-1998
1679      1680                       Sliding Doors (1998)  01-Jan-1998
1680      1681                        You So Crazy (1994)  01-Jan-1994
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

      video_release_date                                           imdb_url  \
0                    NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1                    NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2                    NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3                    NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4                    NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                  ...                                                ...
1677                 NaN  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678                 NaN  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679                 NaN      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680                 NaN  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681                 NaN  http://us.imdb.com/M/title-exact?Schrei%20aus%...

      genre_unknown  Action  Adventure  Animation  Children  ...  Fantasy  \
0                 0       0          0          1         1  ...        0
1                 0       1          1          0         0  ...        0
2                 0       0          0          0         0  ...        0
3                 0       1          0          0         0  ...        0
4                 0       0          0          0         0  ...        0
...             ...     ...        ...        ...       ...  ...      ...
1677              0       0          0          0         0  ...        0
1678              0       0          0          0         0  ...        0
1679              0       0          0          0         0  ...        0
1680              0       0          0          0         0  ...        0
1681              0       0          0          0         0  ...        0

      Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  \
0             0       0        0        0        0       0         0    0
1             0       0        0        0        0       0         1    0
2             0       0        0        0        0       0         1    0
3             0       0        0        0        0       0         0    0
4             0       0        0        0        0       0         1    0
...         ...     ...      ...      ...      ...     ...       ...  ...
1677          0       0        0        0        0       0         0    0
1678          0       0        0        0        1       0         1    0
1679          0       0        0        0        1       0         0    0
1680          0       0        0        0        0       0         0    0
1681          0       0        0        0        0       0         0    0

      Western
0           0
1           0
2           0
3           0
4           0
...       ...
1677        0
1678        0
1679        0
1680        0
1681        0

[1682 rows x 24 columns]
(1682, 24)
movie_id              1682
title                 1664
release_date           240
video_release_date       0
imdb_url              1660
genre_unknown            2
Action                   2
Adventure                2
Animation                2
Children                 2
Comedy                   2
Crime                    2
Documentary              2
Drama                    2
Fantasy                  2
Film-Noir                2
Horror                   2
Musical                  2
Mystery                  2
Romance                  2
Sci-Fi                   2
Thriller                 2
War                      2
Western                  2
dtype: int64
****************************************************************************************************
       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]
(100000, 4)
user_id             943
movie_id           1682
rating                5
unix_timestamp    49282
dtype: int64

In [286]:
# Merge movies and ratings dataframes
df = pd.merge(movies, ratings, on='movie_id')
df.index = df['movie_id']
df = df[['user_id', 'title', 'rating']]
df.head()

          user_id             title  rating
movie_id
1             308  Toy Story (1995)       4
1             287  Toy Story (1995)       5
1             148  Toy Story (1995)       4
1             280  Toy Story (1995)       4
1              66  Toy Story (1995)       3

As mentioned in the introduction, content-Based Filtering is a recommendation engine approach that focuses on the attributes or features of items (products, movies, music, articles, etc.) and leverages these features to make personalized recommendations. The underlying idea is to match the characteristics of items with the preferences of users to suggest items that align with their interests. Content-based filtering is particularly useful when explicit user-item interactions (e.g., ratings or purchases) are sparse or unavailable.

**Key Steps in Content-Based Filtering:**

1. **Feature Extraction:**
   - For each item, relevant features are extracted. These features are typically descriptive attributes that can be represented numerically, such as genre, director, actors, author, publication date, and keywords.
   - In the case of text-based items, natural language processing techniques may be used to extract features like TF-IDF (Term Frequency-Inverse Document Frequency) scores.

2. **User Profile Creation:**
   - A user profile is created based on the items they have interacted with in the past. The user profile contains the weighted importance of features based on their interactions.
   - For example, if a user has watched several action movies, the action genre feature would receive a higher weight in their profile.

3. **Similarity Calculation:**
   - The similarity between items or between items and the user profile is calculated using similarity metrics like cosine similarity, Euclidean distance, or Pearson correlation.
   - Cosine similarity is commonly used as it measures the cosine of the angle between two vectors, which represents their similarity.

4. **Recommendation:**
   - Items that are most similar to the user profile are recommended to the user. These are items whose features have the highest similarity scores with the user profile.
   - The recommended items are presented as a list sorted by their similarity scores.

**Advantages of Content-Based Filtering:**
1. **No Cold-Start Problem:** Content-based filtering can make recommendations even for new users with no historical interactions because it relies on item features rather than user history.

2. **User Independence:** The recommendations are based solely on the features of items and do not require knowledge of other users' preferences or behavior.

3. **Transparency:** Content-based recommendations are interpretable, as they depend on the features of items, making it easier for users to understand why specific items are recommended.

4. **Serendipity:** Content-based filtering can recommend items with characteristics not seen before by the user, leading to serendipitous discoveries.

5. **Diversity in Recommendations:** The method can offer diverse recommendations since it suggests items with different feature combinations.

**Limitations of Content-Based Filtering:**
1. **Limited Discovery:** Content-based filtering may struggle to recommend items outside the scope of users' historical interactions or interests.

2. **Over-Specialization:** Users may receive recommendations that are too similar to their previous choices, leading to a lack of exposure to new item categories.

3. **Dependency on Feature Quality:** The quality and relevance of item features significantly influence the quality of recommendations.

4. **Limited for Cold Items:** Content-based filtering can struggle to recommend new items with limited feature information.

Here is your task:

1. Write a function that takes in a user id and the dataframe you created before that contains 'user_id', 'title', and 'rating'. The function should return content-based recommendations for this user. Here are steps you can take:

  A. Get the user's rated movies

  B. Create a TF-IDF matrix using movie genres. Note, this can be extracted from the `movies` dataframe.

  C. Compute the cosine similarity between movie genres. Use the [cosine_similarity](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html) function.

  D. Get the indices of similar movies to those rated by the user based on cosine similarity. Keep only the top 5.

  E. Remove duplicates and movies already rated by the user.

In [287]:
def get_movie_title_by_id(movie_id):
  return movies[movies['movie_id'] == movie_id]['title']

In [288]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Content-Based Filtering using Movie Genres
def content_based_recommendation(user_id, df):
  # Get the user's rated movies
  user_ratings = df[df['user_id'] == user_id]
  rated_movies_ids = set(user_ratings.index)

  # Create a TF-IDF matrix using movie genres
  genre_matrix = movies[genre_cols]
  genre_matrix.index = movies['movie_id']
  # print(genre_matrix)
  # print(genre_matrix.shape)

  # Create TF-IDF vectorizer and fit to genre matrix
  tfidf_vectorizer = TfidfVectorizer()
  tfidf_vectorized_data = tfidf_vectorizer.fit_transform(genre_matrix.apply(lambda x: ' '.join(x.index[x==1]), axis=1))
  # print(tfidf_vectorized_data)
  # print(tfidf_vectorized_data.shape)
  tfidf_df = pd.DataFrame(tfidf_vectorized_data.toarray(), index=genre_matrix.index, columns=tfidf_vectorizer.get_feature_names_out())
  # print("TFIDF: ", tfidf_df.shape, tfidf_df)

  # Compute the cosine similarity between movie genres
  cosine_sim = cosine_similarity(tfidf_df)
  cosine_sim_df = pd.DataFrame(cosine_sim, index=tfidf_df.index, columns=tfidf_df.index)
  # print("COSINE SIM: ", cosine_sim_df.shape, cosine_sim_df)

  # Get the indices of the similar movies based on cosine similarity
  all_ids_of_similar_movies = set([])
  for movie_id in rated_movies_ids:

    # if movie_id in cosine_sim_df.index:
    #   print(f"The movie '{movie_id}' is in the DataFrame.")
    # else:
    #   print(f"The movie '{movie_id}' is NOT in the DataFrame.")

    cosine_similarity_series = cosine_sim_df.loc[movie_id, :]
    # print(movie_id, type(cosine_similarity_series), cosine_similarity_series)
    ordered_simiarity_ids_by_cosine_sim = cosine_similarity_series.sort_values(ascending=False).index
    top_5_ids = ordered_simiarity_ids_by_cosine_sim[:5]
    # print(movie_id, top_5_ids)

    # contant number 5 of itereation to add the title to the set
    for id in top_5_ids:
      all_ids_of_similar_movies.add(id)

  # Remove duplicates and movies already rated by the user
  # Used the set data structure for all_ids_of_similar_movies to automatically remove duplicates and removes a move at a constant time
  # Just I am just keeping top 5s for each previous reviewed movie all combined together, I decided to not worry about the order
  # However, if we want to keep the original order of the recommendation, set is not a good way as it does not keep the order.
  # print(type(all_ids_of_similar_movies), all_ids_of_similar_movies)
  # print(type(rated_movies_ids), rated_movies_ids)
  all_ids_of_similar_movies = all_ids_of_similar_movies - rated_movies_ids
  # print(all_titles_of_similar_movies)

  recommended_movies_titles = []
  for id in all_ids_of_similar_movies:
    recommended_movies_titles.append(get_movie_title_by_id(id))

  # print("HERE ARE THE CONTENT BASED RECOMMENDATIONS: ", recommended_movies_titles)
  return recommended_movies_titles
# print(df['user_id'].value_counts())

# Testing with some users :)
content_based_recommendation(895, df)
# content_based_recommendation(308, df)

# Notes: we could potentially clean up the structure of the code a little as not all the codes above has to be run at the same frequency and timing.
# For example, the TF-IDF code and cosine similarity code do not necesarily have to run everytime a user signs in to the account.
# Maybe it can be updated once they add a new review or any action to update the User Profile.

[767    Casper (1995)
 Name: title, dtype: object,
 1    GoldenEye (1995)
 Name: title, dtype: object,
 1411    Land Before Time III: The Time of the Great Gi...
 Name: title, dtype: object,
 4    Copycat (1995)
 Name: title, dtype: object,
 1027    Grumpier Old Men (1995)
 Name: title, dtype: object,
 1672    Mirage (1995)
 Name: title, dtype: object,
 1161    Phat Beach (1996)
 Name: title, dtype: object,
 270    Starship Troopers (1997)
 Name: title, dtype: object,
 273    Sabrina (1995)
 Name: title, dtype: object,
 1172    Bliss (1997)
 Name: title, dtype: object,
 665    Blood For Dracula (Andy Warhol's Dracula) (1974)
 Name: title, dtype: object,
 1049    Ghost and Mrs. Muir, The (1947)
 Name: title, dtype: object,
 668    Body Parts (1991)
 Name: title, dtype: object,
 1567    Vermont Is For Lovers (1992)
 Name: title, dtype: object,
 32    Desperado (1995)
 Name: title, dtype: object,
 929    Chain Reaction (1996)
 Name: title, dtype: object,
 1313    Surviving the Game (1994)
 Name: title, dtype: object,
 1059    Adventures of Pinocchio, The (1996)
 Name: title, dtype: object,
 421    Aladdin and the King of Thieves (1996)
 Name: title, dtype: object,
 677    Volcano (1997)
 Name: title, dtype: object,
 171    Empire Strikes Back, The (1980)
 Name: title, dtype: object,
 299    Air Force One (1997)
 Name: title, dtype: object,
 1068    Amateur (1994)
 Name: title, dtype: object,
 688    Jackal, The (1997)
 Name: title, dtype: object,
 945    Fox and the Hound, The (1981)
 Name: title, dtype: object,
 1207    Kiss of Death (1995)
 Name: title, dtype: object,
 567    Speed (1994)
 Name: title, dtype: object,
 440    Amityville Horror, The (1979)
 Name: title, dtype: object,
 1212    Guilty as Sin (1993)
 Name: title, dtype: object,
 1469    Gumby: The Movie (1995)
 Name: title, dtype: object,
 573    Boxing Helena (1993)
 Name: title, dtype: object,
 61    Stargate (1994)
 Name: title, dtype: object,
 1088    Speed 2: Cruise Control (1997)
 Name: title, dtype: object,
 65    While You Were Sleeping (1995)
 Name: title, dtype: object,
 67    Crow, The (1994)
 Name: title, dtype: object,
 1479    Herbie Rides Again (1974)
 Name: title, dtype: object,
 1097    Flirting With Disaster (1996)
 Name: title, dtype: object,
 81    Jurassic Park (1993)
 Name: title, dtype: object,
 212    Room with a View, A (1986)
 Name: title, dtype: object,
 854    Diva (1981)
 Name: title, dtype: object,
 1113    Faithful (1996)
 Name: title, dtype: object,
 218    Nightmare on Elm Street, A (1984)
 Name: title, dtype: object,
 347    Desperate Measures (1998)
 Name: title, dtype: object,
 861    Jingle All the Way (1996)
 Name: title, dtype: object,
 1117    Up in Smoke (1978)
 Name: title, dtype: object,
 735    Shadowlands (1993)
 Name: title, dtype: object,
 607    Spellbound (1945)
 Name: title, dtype: object,
 349    Fallen (1998)
 Name: title, dtype: object,
 222    Sling Blade (1996)
 Name: title, dtype: object,
 739    Jane Eyre (1996)
 Name: title, dtype: object,
 228    Star Trek III: The Search for Spock (1984)
 Name: title, dtype: object,
 229    Star Trek IV: The Voyage Home (1986)
 Name: title, dtype: object,
 740    Last Supper, The (1995)
 Name: title, dtype: object,
 1507    Babysitter, The (1995)
 Name: title, dtype: object,
 750    Tomorrow Never Dies (1997)
 Name: title, dtype: object,
 751    Replacement Killers, The (1998)
 Name: title, dtype: object,
 1392    Stag (1997)
 Name: title, dtype: object,
 241    Kolya (1996)
 Name: title, dtype: object,
 372    Judge Dredd (1995)
 Name: title, dtype: object,
 1012    Anaconda (1997)
 Name: title, dtype: object,
 120    Independence Day (ID4) (1996)
 Name: title, dtype: object,
 634    Fog, The (1980)
 Name: title, dtype: object]

The key idea behind collaborative filtering is that users who have agreed in the past will likely agree in the future. Instead of relying on item attributes or user profiles, collaborative filtering identifies patterns of user behavior and item preferences from the interactions present in the data.

**Types of Collaborative Filtering:**
There are two main types of collaborative filtering:

**Collaborative Filtering Process:**
The collaborative filtering process typically involves the following steps:

1. **Data Collection:**
   - Gather data on user-item interactions, such as movie ratings, product purchases, or article clicks.

2. **User-Item Matrix:**
   - Organize the data into a user-item matrix, where rows represent users, columns represent items, and the entries contain the users' interactions (e.g., ratings).

3. **Similarity Calculation:**
   - Calculate the similarity between users or items using similarity metrics such as cosine similarity, Pearson correlation, or Jaccard similarity.
   - For user-based collaborative filtering, user similarities are calculated, and for item-based collaborative filtering, item similarities are calculated.

4. **Neighborhood Selection:**
   - For each user or item, select the most similar users or items as the neighborhood.
   - The size of the neighborhood (the number of similar users or items to consider) is an important parameter to control the system's behavior.

5. **Prediction Generation:**
   - Predict the ratings for items that the target user has not yet interacted with by combining the ratings of neighboring users or items.

6. **Recommendation Generation:**
   - Recommend items with the highest predicted ratings to the target user.

**Advantages of Collaborative Filtering using User-Item Interactions:**
- Collaborative filtering is based solely on user interactions and does not require knowledge of item attributes, making it useful for cases where item data is sparse or unavailable.
- It can provide serendipitous recommendations, suggesting items that users may not have discovered on their own.
- Collaborative filtering can be applied in various domains, including e-commerce, music, movie, and content recommendations.

**Limitations of Collaborative Filtering:**
- The cold-start problem: Collaborative filtering struggles to recommend to new users or items with no or limited interaction history.
- It may suffer from sparsity when data is limited or when users have only interacted with a small subset of items.
- Scalability issues can arise with large datasets and an increasing number of users or items.

Here is your task:

1. Write a function that takes in a user id and the dataframe you created before that contains 'user_id', 'title', and 'rating'. The function should return collaborative filtering recommendations for this user based on a user-item interaction matrix. Here are steps you can take:

  A. Create the user-item matrix using Pandas' [pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html).

  B. Fill missing values with zeros in this matrix.

  C. Calculate user-user similarity matrix using cosine similarity.

  D. Get the array of similarity scores of the target user with all other users from the similarity matrix.

  E. Extract, say the the top 5 most similar users (excluding the target user).

  F. Generate movie recommendations based on the most similar users.

  G. Remove duplicate movies recommendations.

In [289]:
# Collaborative Filtering using User-Item Interactions
def collaborative_filtering_recommendation(user_id, df):
  # Create the user-item matrix
  user_item_matrix = df.pivot_table(index='user_id', columns=df.index, values='rating')
  # print(user_item_matrix)

  # Fill missing values with 0 (indicating no rating)
  user_item_matrix = user_item_matrix.fillna(0)
  # print(user_item_matrix)

  # Calculate user-user similarity matrix using cosine similarity
  user_similarity = cosine_similarity(user_item_matrix)
  user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)
  # print(user_similarity_df)

  # Get the similarity scores of the target user with all other users
  target_user_similarity = user_similarity_df.loc[user_id]
  # print(target_user_similarity)

  # Find the top N most similar users (excluding the target user)
  top_n = 5
  top_n_similar_users = target_user_similarity.sort_values(ascending=False).index[1:top_n+1]
  # print(user_id, top_n_similar_users)
  # print(top_n_similar_users)

  # Generate movie recommendations based on the most similar users
  all_ids_of_recommended_movies = set([])
  for user in top_n_similar_users:
    user_ratings = user_item_matrix.loc[user]
    # print(user, " reviewed the following movies: ", user_ratings)

    # Sort and use the movies whose rates are higher than the threshold
    rating_threshold = 3
    sorted_user_ratings = user_ratings.sort_values(ascending=False)
    # print(user, " rated the movies in the following order: ", sorted_user_ratings)
    sorted_movies_higher_than_threshold = sorted_user_ratings[sorted_user_ratings > rating_threshold]
    # print(user, " highly rated the following movies in the following order: ", sorted_movies_higher_than_threshold)
    top_m = 5
    top_m_sorted_movies_higher_than_threshold = sorted_movies_higher_than_threshold[:5]
    # print(user, " highly rated the m following movies: ", top_m_sorted_movies_higher_than_threshold)

    for movie in sorted_movies_higher_than_threshold.index:
      all_ids_of_recommended_movies.add(movie)

  # print(recommendations)

  # Remove duplicates from recommendations
  # Used the set as a data structure to remove duplicates automatially

  recommended_movies_titles = []
  for id in all_ids_of_recommended_movies:
    recommended_movies_titles.append(get_movie_title_by_id(id))

  # print("HERE ARE THE COLLABORATIVE FILTERING RECOMMENDATIONS: ", recommended_movies_titles)
  return recommended_movies_titles

# Testing with a user :)
collaborative_filtering_recommendation(895, df)

[1151    In Love and War (1996)
 Name: title, dtype: object,
 0    Toy Story (1995)
 Name: title, dtype: object,
 257    Contact (1997)
 Name: title, dtype: object,
 256    Men in Black (1997)
 Name: title, dtype: object,
 6    Twelve Monkeys (1995)
 Name: title, dtype: object,
 263    Mimic (1997)
 Name: title, dtype: object,
 267    Chasing Amy (1997)
 Name: title, dtype: object,
 268    Full Monty, The (1997)
 Name: title, dtype: object,
 13    Postino, Il (1994)
 Name: title, dtype: object,
 14    Mr. Holland's Opus (1995)
 Name: title, dtype: object,
 274    Sense and Sensibility (1995)
 Name: title, dtype: object,
 404    Mission: Impossible (1996)
 Name: title, dtype: object,
 150    Willy Wonka and the Chocolate Factory (1971)
 Name: title, dtype: object,
 280    River Wild, The (1994)
 Name: title, dtype: object,
 1176    Dunston Checks In (1996)
 Name: title, dtype: object,
 537    Anastasia (1997)
 Name: title, dtype: object,
 282    Emma (1996)
 Name: title, dtype: object,
 285    English Patient, The (1996)
 Name: title, dtype: object,
 288    Evita (1996)
 Name: title, dtype: object,
 292    Donnie Brasco (1997)
 Name: title, dtype: object,
 293    Liar Liar (1997)
 Name: title, dtype: object,
 936    Thousand Acres, A (1997)
 Name: title, dtype: object,
 297    Face/Off (1997)
 Name: title, dtype: object,
 299    Air Force One (1997)
 Name: title, dtype: object,
 300    In & Out (1997)
 Name: title, dtype: object,
 687    Leave It to Beaver (1997)
 Name: title, dtype: object,
 49    Star Wars (1977)
 Name: title, dtype: object,
 180    Return of the Jedi (1983)
 Name: title, dtype: object,
 824    Arrival, The (1996)
 Name: title, dtype: object,
 322    Dante's Peak (1997)
 Name: title, dtype: object,
 327    Conspiracy Theory (1997)
 Name: title, dtype: object,
 124    Phenomenon (1996)
 Name: title, dtype: object,
 331    Kiss the Girls (1997)
 Name: title, dtype: object,
 596    Eraser (1996)
 Name: title, dtype: object,
 245    Chasing Amy (1997)
 Name: title, dtype: object,
 470    Courage Under Fire (1996)
 Name: title, dtype: object,
 219    Mirror Has Two Faces, The (1996)
 Name: title, dtype: object,
 476    Matilda (1996)
 Name: title, dtype: object,
 221    Star Trek: First Contact (1996)
 Name: title, dtype: object,
 247    Grosse Pointe Blank (1997)
 Name: title, dtype: object,
 224    101 Dalmatians (1996)
 Name: title, dtype: object,
 739    Jane Eyre (1996)
 Name: title, dtype: object,
 99    Fargo (1996)
 Name: title, dtype: object,
 741    Ransom (1996)
 Name: title, dtype: object,
 234    Mars Attacks! (1996)
 Name: title, dtype: object,
 747    Saint, The (1997)
 Name: title, dtype: object,
 236    Jerry Maguire (1996)
 Name: title, dtype: object,
 108    Mystery Science Theater 3000: The Movie (1996)
 Name: title, dtype: object,
 368    Black Sheep (1996)
 Name: title, dtype: object,
 241    Kolya (1996)
 Name: title, dtype: object,
 755    Father of the Bride Part II (1995)
 Name: title, dtype: object,
 116    Rock, The (1996)
 Name: title, dtype: object,
 117    Twister (1996)
 Name: title, dtype: object,
 760    Nick of Time (1995)
 Name: title, dtype: object,
 1015    Con Air (1997)
 Name: title, dtype: object,
 120    Independence Day (ID4) (1996)
 Name: title, dtype: object,
 249    Fifth Element, The (1997)
 Name: title, dtype: object,
 762    Happy Gilmore (1996)
 Name: title, dtype: object,
 1013    Romy and Michele's High School Reunion (1997)
 Name: title, dtype: object,
 1011    Private Parts (1997)
 Name: title, dtype: object,
 125    Spitfire Grill, The (1996)
 Name: title, dtype: object,
 126    Godfather, The (1972)
 Name: title, dtype: object]

Now, test your recommendations engines! Select a few user ids and generate recommendations using both functions you've written. Are the recommendations similar? Do the recommendations make sense?

In [290]:
# Test the recommendation engines
test_users = [308, 287, 148, 280, 66]
for test_user_id in test_users:
  print("User ID: ", test_user_id)
  print("Content Based Recommendations: ", content_based_recommendation(test_user_id, df))
  print("Collaborative Filtering Recommendations: ", collaborative_filtering_recommendation(test_user_id, df))
  print("*"*100)

# Notes:
# It is interesting that the recommended results are so different between the two methods!
# It does make sense though it would be difficult to validate as the recommendations are done for the movies that the users have not watched yet.

# Take aways:
# Use the movie_id (which I saved as index) instead of titles to make sure they are unique to avoid unexpected types between DataFrame and Series.

User ID:  308
Content Based Recommendations:  [1024    Fire Down Below (1997)
Name: title, dtype: object, 1    GoldenEye (1995)
Name: title, dtype: object, 1033    Quest, The (1996)
Name: title, dtype: object, 1035    Drop Dead Fred (1991)
Name: title, dtype: object, 1036    Grease 2 (1982)
Name: title, dtype: object, 1552    Underneath, The (1995)
Name: title, dtype: object, 1041    Just Cause (1995)
Name: title, dtype: object, 1555    Condition Red (1995)
Name: title, dtype: object, 532    Daytrippers, The (1996)
Name: title, dtype: object, 1556    Yankee Zulu (1994)
Name: title, dtype: object, 537    Anastasia (1997)
Name: title, dtype: object, 538    Mouse Hunt (1997)
Name: title, dtype: object, 1049    Ghost and Mrs. Muir, The (1947)
Name: title, dtype: object, 28    Batman Forever (1995)
Name: title, dtype: object, 540    Mortal Kombat (1995)
Name: title, dtype: object, 542    Misrables, Les (1995)
Name: title, dtype: object, 543    Things to Do in Denver when You're Dead (1995)
Name: title, dtype: object, 32    Desperado (1995)
Name: title, dtype: object, 1051    Dracula: Dead and Loving It (1995)
Name: title, dtype: object, 1057    War, The (1994)
Name: title, dtype: object, 1059    Adventures of Pinocchio, The (1996)
Name: title, dtype: object, 548    Rob Roy (1995)
Name: title, dtype: object, 37    Net, The (1995)
Name: title, dtype: object, 38    Strange Days (1995)
Name: title, dtype: object, 551    Species (1995)
Name: title, dtype: object, 1063    Crossfire (1947)
Name: title, dtype: object, 1575    Hungarian Fairy Tale, A (1987)
Name: title, dtype: object, 555    Wild Bill (1995)
Name: title, dtype: object, 556    Farinelli: il castrato (1994)
Name: title, dtype: object, 1068    Amateur (1994)
Name: title, dtype: object, 1580    Woman in Question, The (1950)
Name: title, dtype: object, 559    Kid in King Arthur's Court, A (1995)
Name: title, dtype: object, 560    Mary Shelley's Frankenstein (1994)
Name: title, dtype: object, 561    Quick and the Dead, The (1995)
Name: title, dtype: object, 562    Stephen King's The Langoliers (1995)
Name: title, dtype: object, 563    Tales from the Hood (1995)
Name: title, dtype: object, 564    Village of the Damned (1995)
Name: title, dtype: object, 1075    Pagemaster, The (1994)
Name: title, dtype: object, 1077    Oliver & Company (1988)
Name: title, dtype: object, 1078    Joe's Apartment (1996)
Name: title, dtype: object, 1585    Lashou shentan (1992)
Name: title, dtype: object, 1586    Terror in a Texas Town (1958)
Name: title, dtype: object, 570    Another Stakeout (1993)
Name: title, dtype: object, 1595    Nemesis 2: Nebula (1995)
Name: title, dtype: object, 1596    Romper Stomper (1992)
Name: title, dtype: object, 61    Stargate (1994)
Name: title, dtype: object, 573    Boxing Helena (1993)
Name: title, dtype: object, 575    Cliffhanger (1993)
Name: title, dtype: object, 576    Coneheads (1993)
Name: title, dtype: object, 1088    Speed 2: Cruise Control (1997)
Name: title, dtype: object, 1090    Pete's Dragon (1977)
Name: title, dtype: object, 1597    City of Industry (1997)
Name: title, dtype: object, 1603    He Walked by Night (1948)
Name: title, dtype: object, 1607    Buddy (1997)
Name: title, dtype: object, 1097    Flirting With Disaster (1996)
Name: title, dtype: object, 586    Hour of the Pig, The (1993)
Name: title, dtype: object, 75    Carlito's Way (1993)
Name: title, dtype: object, 1100    Six Degrees of Separation (1993)
Name: title, dtype: object, 589    Hellraiser: Bloodline (1996)
Name: title, dtype: object, 1609    Truth or Consequences, N.M. (1997)
Name: title, dtype: object, 1612    Tokyo Fist (1995)
Name: title, dtype: object, 1614    Warriors of Virtue (1997)
Name: title, dtype: object, 1105    Newton Boys, The (1998)
Name: title, dtype: object, 1617    King of New York (1990)
Name: title, dtype: object, 83    Robert A. Heinlein's The Puppet Masters (1994)
Name: title, dtype: object, 595    Hunchback of Notre Dame, The (1996)
Name: title, dtype: object, 597    Big Squeeze, The (1996)
Name: title, dtype: object, 1620    Butterfly Kiss (1995)
Name: title, dtype: object, 600    For Whom the Bell Tolls (1943)
Name: title, dtype: object, 89    So I Married an Axe Murderer (1993)
Name: title, dtype: object, 1113    Faithful (1996)
Name: title, dtype: object, 1114    Twelfth Night (1996)
Name: title, dtype: object, 92    Welcome to the Dollhouse (1995)
Name: title, dtype: object, 1115    Mark of Zorro, The (1940)
Name: title, dtype: object, 1624    Nightwatch (1997)
Name: title, dtype: object, 607    Spellbound (1945)
Name: title, dtype: object, 1123    Farewell to Arms, A (1932)
Name: title, dtype: object, 102    All Dogs Go to Heaven 2 (1996)
Name: title, dtype: object, 620    Davy Crockett, King of the Wild Frontier (1955)
Name: title, dtype: object, 109    Operation Dumbo Drop (1995)
Name: title, dtype: object, 1132    Escape to Witch Mountain (1975)
Name: title, dtype: object, 623    Three Caballeros, The (1945)
Name: title, dtype: object, 624    Sword in the Stone, The (1963)
Name: title, dtype: object, 113    Wallace & Gromit: The Best of Aardman Animatio...
Name: title, dtype: object, 625    So Dear to My Heart (1949)
Name: title, dtype: object, 1138    Hackers (1995)
Name: title, dtype: object, 629    Great Race, The (1965)
Name: title, dtype: object, 118    Maya Lin: A Strong Clear Vision (1994)
Name: title, dtype: object, 119    Striptease (1996)
Name: title, dtype: object, 630    Crying Game, The (1992)
Name: title, dtype: object, 1141    When We Were Kings (1996)
Name: title, dtype: object, 634    Fog, The (1980)
Name: title, dtype: object, 635    Escape from New York (1981)
Name: title, dtype: object, 1142    Hard Eight (1996)
Name: title, dtype: object, 1150    Original Gangstas (1996)
Name: title, dtype: object, 1151    In Love and War (1996)
Name: title, dtype: object, 1152    Backbeat (1993)
Name: title, dtype: object, 129    Kansas City (1996)
Name: title, dtype: object, 1662    Nothing Personal (1995)
Name: title, dtype: object, 644    Paris Is Burning (1990)
Name: title, dtype: object, 1669    Tainted (1998)
Name: title, dtype: object, 646    Ran (1985)
Name: title, dtype: object, 1158    Stalker (1979)
Name: title, dtype: object, 1672    Mirage (1995)
Name: title, dtype: object, 137    D3: The Mighty Ducks (1996)
Name: title, dtype: object, 650    Glory (1989)
Name: title, dtype: object, 1161    Phat Beach (1996)
Name: title, dtype: object, 141    Bedknobs and Broomsticks (1971)
Name: title, dtype: object, 1678    B. Monkey (1998)
Name: title, dtype: object, 1167    Little Buddha (1993)
Name: title, dtype: object, 1681    Scream of Stone (Schrei aus Stein) (1991)
Name: title, dtype: object, 1170    Wild Reeds (1994)
Name: title, dtype: object, 1172    Bliss (1997)
Name: title, dtype: object, 1174    Hugo Pool (1997)
Name: title, dtype: object, 665    Blood For Dracula (Andy Warhol's Dracula) (1974)
Name: title, dtype: object, 154    Dirty Dancing (1987)
Name: title, dtype: object, 667    Blood Beach (1981)
Name: title, dtype: object, 668    Body Parts (1991)
Name: title, dtype: object, 1179    I Love Trouble (1994)
Name: title, dtype: object, 1183    Endless Summer 2, The (1994)
Name: title, dtype: object, 1187    Young Guns II (1990)
Name: title, dtype: object, 172    Princess Bride, The (1987)
Name: title, dtype: object, 1197    Purple Noon (1960)
Name: title, dtype: object, 686    McHale's Navy (1997)
Name: title, dtype: object, 1198    Cemetery Man (Dellamorte Dellamore) (1994)
Name: title, dtype: object, 688    Jackal, The (1997)
Name: title, dtype: object, 690    Dark City (1998)
Name: title, dtype: object, 1202    Top Hat (1935)
Name: title, dtype: object, 1207    Kiss of Death (1995)
Name: title, dtype: object, 1209    Virtuosity (1995)
Name: title, dtype: object, 187    Full Metal Jacket (1987)
Name: title, dtype: object, 188    Grand Day Out, A (1992)
Name: title, dtype: object, 700    Wonderful, Horrible Life of Leni Riefenstahl, ...
Name: title, dtype: object, 1212    Guilty as Sin (1993)
Name: title, dtype: object, 1216    Assassins (1995)
Name: title, dtype: object, 206    Cyrano de Bergerac (1990)
Name: title, dtype: object, 718    Canadian Bacon (1994)
Name: title, dtype: object, 719    First Knight (1995)
Name: title, dtype: object, 1230    Marked for Death (1990)
Name: title, dtype: object, 1234    Big Bang Theory, The (1994)
Name: title, dtype: object, 1567    Vermont Is For Lovers (1992)
Name: title, dtype: object, 725    Fluke (1995)
Name: title, dtype: object, 1238    Cutthroat Island (1995)
Name: title, dtype: object, 727    Junior (1994)
Name: title, dtype: object, 216    Bram Stoker's Dracula (1992)
Name: title, dtype: object, 226    Star Trek VI: The Undiscovered Country (1991)
Name: title, dtype: object, 227    Star Trek: The Wrath of Khan (1982)
Name: title, dtype: object, 228    Star Trek III: The Search for Spock (1984)
Name: title, dtype: object, 739    Jane Eyre (1996)
Name: title, dtype: object, 231    Young Guns (1988)
Name: title, dtype: object, 743    Michael Collins (1996)
Name: title, dtype: object, 1261    Walking and Talking (1996)
Name: title, dtype: object, 750    Tomorrow Never Dies (1997)
Name: title, dtype: object, 239    Beavis and Butt-head Do America (1996)
Name: title, dtype: object, 751    Replacement Killers, The (1998)
Name: title, dtype: object, 241    Kolya (1996)
Name: title, dtype: object, 244    Devil's Own, The (1997)
Name: title, dtype: object, 757    Lawnmower Man 2: Beyond Cyberspace (1996)
Name: title, dtype: object, 758    Fair Game (1995)
Name: title, dtype: object, 759    Screamers (1995)
Name: title, dtype: object, 249    Fifth Element, The (1997)
Name: title, dtype: object, 1273    Robocop 3 (1993)
Name: title, dtype: object, 251    Lost World: Jurassic Park, The (1997)
Name: title, dtype: object, 1276    Set It Off (1996)
Name: title, dtype: object, 767    Casper (1995)
Name: title, dtype: object, 257    Contact (1997)
Name: title, dtype: object, 770    Johnny Mnemonic (1995)
Name: title, dtype: object, 259    Event Horizon (1997)
Name: title, dtype: object, 1283    Before and After (1996)
Name: title, dtype: object, 262    Steel (1997)
Name: title, dtype: object, 774    Something to Talk About (1995)
Name: title, dtype: object, 265    Kull the Conqueror (1997)
Name: title, dtype: object, 1292    Star Kid (1997)
Name: title, dtype: object, 269    Gattaca (1997)
Name: title, dtype: object, 270    Starship Troopers (1997)
Name: title, dtype: object, 783    Beyond Bedlam (1993)
Name: title, dtype: object, 1295    Indian Summer (1996)
Name: title, dtype: object, 1297    Band Wagon, The (1953)
Name: title, dtype: object, 787    Relative Fear (1994)
Name: title, dtype: object, 1303    New York Cop (1996)
Name: title, dtype: object, 1581    T-Men (1947)
Name: title, dtype: object, 796    Timecop (1994)
Name: title, dtype: object, 285    English Patient, The (1996)
Name: title, dtype: object, 797    Bad Company (1995)
Name: title, dtype: object, 799    In the Mouth of Madness (1995)
Name: title, dtype: object, 288    Evita (1996)
Name: title, dtype: object, 1312    Palmetto (1998)
Name: title, dtype: object, 1313    Surviving the Game (1994)
Name: title, dtype: object, 1317    Catwalk (1995)
Name: title, dtype: object, 809    Shadow, The (1994)
Name: title, dtype: object, 298    Hoodlum (1997)
Name: title, dtype: object, 299    Air Force One (1997)
Name: title, dtype: object, 301    L.A. Confidential (1997)
Name: title, dtype: object, 306    Devil's Advocate, The (1997)
Name: title, dtype: object, 307    FairyTale: A True Story (1997)
Name: title, dtype: object, 310    Wings of the Dove, The (1997)
Name: title, dtype: object, 822    Mulholland Falls (1996)
Name: title, dtype: object, 1335    Kazaam (1996)
Name: title, dtype: object, 1339    Crude Oasis, The (1995)
Name: title, dtype: object, 828    Fled (1996)
Name: title, dtype: object, 830    Escape from L.A. (1996)
Name: title, dtype: object, 831    Bogus (1996)
Name: title, dtype: object, 833    Halloween: The Curse of Michael Myers (1995)
Name: title, dtype: object, 834    Gay Divorcee, The (1934)
Name: title, dtype: object, 323    Lost Highway (1997)
Name: title, dtype: object, 325    G.I. Jane (1997)
Name: title, dtype: object, 839    Last Man Standing (1996)
Name: title, dtype: object, 328    Desperate Measures (1998)
Name: title, dtype: object, 843    Freeway (1996)
Name: title, dtype: object, 332    Game, The (1997)
Name: title, dtype: object, 1356    For the Moment (1994)
Name: title, dtype: object, 336    House of Yes, The (1997)
Name: title, dtype: object, 848    Days of Thunder (1990)
Name: title, dtype: object, 849    Perfect Candidate, A (1996)
Name: title, dtype: object, 1362    Leopard Son, The (1996)
Name: title, dtype: object, 341    Man Who Knew Too Little, The (1997)
Name: title, dtype: object, 342    Alien: Resurrection (1997)
Name: title, dtype: object, 853    Bad Taste (1987)
Name: title, dtype: object, 1366    Faust (1994)
Name: title, dtype: object, 858    April Fool's Day (1986)
Name: title, dtype: object, 347    Desperate Measures (1998)
Name: title, dtype: object, 1370    Machine, The (1994)
Name: title, dtype: object, 861    Jingle All the Way (1996)
Name: title, dtype: object, 1371    Stranger, The (1994)
Name: title, dtype: object, 351    Spice World (1997)
Name: title, dtype: object, 352    Deep Rising (1998)
Name: title, dtype: object, 357    Spawn (1997)
Name: title, dtype: object, 360    Incognito (1997)
Name: title, dtype: object, 361    Blues Brothers 2000 (1998)
Name: title, dtype: object, 1385    Tetsuo II: Body Hammer (1992)
Name: title, dtype: object, 876    Excess Baggage (1997)
Name: title, dtype: object, 365    Dangerous Minds (1995)
Name: title, dtype: object, 880    Money Talks (1997)
Name: title, dtype: object, 1392    Stag (1997)
Name: title, dtype: object, 1393    Swept from the Sea (1997)
Name: title, dtype: object, 883    Year of the Horse (1997)
Name: title, dtype: object, 372    Judge Dredd (1995)
Name: title, dtype: object, 885    Life Less Ordinary, A (1997)
Name: title, dtype: object, 889    Mortal Kombat: Annihilation (1997)
Name: title, dtype: object, 891    Flubber (1997)
Name: title, dtype: object, 893    Home Alone 3 (1997)
Name: title, dtype: object, 382    Flintstones, The (1994)
Name: title, dtype: object, 387    Beverly Hills Cop III (1994)
Name: title, dtype: object, 1411    Land Before Time III: The Time of the Great Gi...
Name: title, dtype: object, 1415    No Escape (1994)
Name: title, dtype: object, 393    Radioland Murders (1994)
Name: title, dtype: object, 1418    Highlander III: The Sorcerer (1994)
Name: title, dtype: object, 1421    Suture (1993)
Name: title, dtype: object, 398    Three Musketeers, The (1993)
Name: title, dtype: object, 910    Twilight (1998)
Name: title, dtype: object, 1423    I Like It Like That (1994)
Name: title, dtype: object, 918    City of Lost Children, The (1995)
Name: title, dtype: object, 1432    Men of Means (1998)
Name: title, dtype: object, 921    Dead Man (1995)
Name: title, dtype: object, 1433    Shooting Fish (1997)
Name: title, dtype: object, 923    White Squall (1996)
Name: title, dtype: object, 924    Unforgettable (1996)
Name: title, dtype: object, 415    Old Yeller (1957)
Name: title, dtype: object, 929    Chain Reaction (1996)
Name: title, dtype: object, 930    Island of Dr. Moreau, The (1996)
Name: title, dtype: object, 931    First Kid (1996)
Name: title, dtype: object, 421    Aladdin and the King of Thieves (1996)
Name: title, dtype: object, 1449    Golden Earrings (1947)
Name: title, dtype: object, 1451    Lady of Burlesque (1943)
Name: title, dtype: object, 1452    Angel on My Shoulder (1946)
Name: title, dtype: object, 430    Highlander (1986)
Name: title, dtype: object, 945    Fox and the Hound, The (1981)
Name: title, dtype: object, 946    Big Blue, The (Grand bleu, Le) (1988)
Name: title, dtype: object, 1457    Damsel in Distress, A (1937)
Name: title, dtype: object, 1458    Madame Butterfly (1995)
Name: title, dtype: object, 1461    Thieves (Voleurs, Les) (1996)
Name: title, dtype: object, 950    Indian in the Cupboard, The (1995)
Name: title, dtype: object, 440    Amityville Horror, The (1979)
Name: title, dtype: object, 443    Blob, The (1958)
Name: title, dtype: object, 1469    Gumby: The Movie (1995)
Name: title, dtype: object, 1470    Hideaway (1995)
Name: title, dtype: object, 449    Star Trek V: The Final Frontier (1989)
Name: title, dtype: object, 1475    Raw Deal (1948)
Name: title, dtype: object, 452    Jaws 3-D (1983)
Name: title, dtype: object, 1476    Nightwatch (1997)
Name: title, dtype: object, 1477    Dead Presidents (1995)
Name: title, dtype: object, 1479    Herbie Rides Again (1974)
Name: title, dtype: object, 456    Free Willy 3: The Rescue (1997)
Name: title, dtype: object, 970    Mediterraneo (1991)
Name: title, dtype: object, 1482    Man in the Iron Mask, The (1998)
Name: title, dtype: object, 1484    Colonel Chabert, Le (1994)
Name: title, dtype: object, 977    Heaven's Prisoners (1996)
Name: title, dtype: object, 1490    Tough and Deadly (1995)
Name: title, dtype: object, 469    Tombstone (1993)
Name: title, dtype: object, 981    Maximum Risk (1996)
Name: title, dtype: object, 1495    Carpool (1996)
Name: title, dtype: object, 473    Dr. Strangelove or: How I Learned to Stop Worr...
Name: title, dtype: object, 986    Underworld (1997)
Name: title, dtype: object, 987    Beautician and the Beast, The (1997)
Name: title, dtype: object, 991    Head Above Water (1996)
Name: title, dtype: object, 1507    Babysitter, The (1995)
Name: title, dtype: object, 488    Notorious (1946)
Name: title, dtype: object, 490    Adventures of Robin Hood, The (1938)
Name: title, dtype: object, 1003    Geronimo: An American Legend (1993)
Name: title, dtype: object, 1012    Anaconda (1997)
Name: title, dtype: object, 1525    Witness (1985)
Name: title, dtype: object, 1014    Shiloh (1997)
Name: title, dtype: object, 1019    Gaslight (1944)
Name: title, dtype: object, 1533    Twin Town (1997)
Name: title, dtype: object]
Collaborative Filtering Recommendations:  [2    Four Rooms (1995)
Name: title, dtype: object, 3    Get Shorty (1995)
Name: title, dtype: object, 6    Twelve Monkeys (1995)
Name: title, dtype: object, 7    Babe (1995)
Name: title, dtype: object, 8    Dead Man Walking (1995)
Name: title, dtype: object, 9    Richard III (1995)
Name: title, dtype: object, 10    Seven (Se7en) (1995)
Name: title, dtype: object, 11    Usual Suspects, The (1995)
Name: title, dtype: object, 12    Mighty Aphrodite (1995)
Name: title, dtype: object, 13    Postino, Il (1994)
Name: title, dtype: object, 14    Mr. Holland's Opus (1995)
Name: title, dtype: object, 17    White Balloon, The (1995)
Name: title, dtype: object, 19    Angels and Insects (1995)
Name: title, dtype: object, 21    Braveheart (1995)
Name: title, dtype: object, 22    Taxi Driver (1976)
Name: title, dtype: object, 23    Rumble in the Bronx (1995)
Name: title, dtype: object, 24    Birdcage, The (1996)
Name: title, dtype: object, 26    Bad Boys (1995)
Name: title, dtype: object, 27    Apollo 13 (1995)
Name: title, dtype: object, 29    Belle de jour (1967)
Name: title, dtype: object, 30    Crimson Tide (1995)
Name: title, dtype: object, 31    Crumb (1994)
Name: title, dtype: object, 38    Strange Days (1995)
Name: title, dtype: object, 41    Clerks (1994)
Name: title, dtype: object, 43    Dolores Claiborne (1994)
Name: title, dtype: object, 44    Eat Drink Man Woman (1994)
Name: title, dtype: object, 46    Ed Wood (1994)
Name: title, dtype: object, 47    Hoop Dreams (1994)
Name: title, dtype: object, 49    Star Wars (1977)
Name: title, dtype: object, 50    Legends of the Fall (1994)
Name: title, dtype: object, 51    Madness of King George, The (1994)
Name: title, dtype: object, 52    Natural Born Killers (1994)
Name: title, dtype: object, 53    Outbreak (1995)
Name: title, dtype: object, 54    Professional, The (1994)

In [291]:
df[df['user_id'] == 895]

          user_id                                          title  rating
movie_id
1             895                               Toy Story (1995)       4
13            895                        Mighty Aphrodite (1995)       5
50            895                               Star Wars (1977)       5
100           895                                   Fargo (1996)       4
117           895                               Rock, The (1996)       3
151           895   Willy Wonka and the Chocolate Factory (1971)       5
181           895                      Return of the Jedi (1983)       5
222           895                Star Trek: First Contact (1996)       3
275           895                   Sense and Sensibility (1995)       5
283           895                                    Emma (1996)       4
284           895                                 Tin Cup (1996)       3
294           895                               Liar Liar (1997)       4
301           895                                In & Out (1997)       4
328           895                       Conspiracy Theory (1997)       4
597           895                                  Eraser (1996)       2
742           895                                  Ransom (1996)       4
748           895                              Saint, The (1997)       3
885           895                                Phantoms (1998)       2
988           895           Beautician and the Beast, The (1997)       3
1014          895  Romy and Michele's High School Reunion (1997)       3